.detail {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;

  &--vznik {
    font-weight: 600;
  }
}

.film--autor,
.film--autor--odkaz {
  color: #3d5afe;
  text-decoration: none;
}

@media screen and (min-width: 600px) {

  .detail {
    display: flex;
    justify-content: flex-end;
  }
} 
